.App {
  text-align: center;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  padding: 10px 200px 10px 10px;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu-button {
  padding: 0.5rem;
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown-menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 90vh;
  overflow: auto;
}

.dropdown-menu.active .dropdown-menu-content {
  display: block;
}

.dropdown-menu-content .legend-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.legend-marker {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.dropdown-menu-button:not(:last-child) {
  margin-right: 0.5rem;
}

.legend-item-hidden {
  opacity: 0.5;
}